*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --shadow: hsl(218, 69%, 10%);
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html{
    font-size: 18px;
}

body{
    font-family: 'Fraunces', serif;
    font-family: 'Outfit', sans-serif;
    color: #fff;
}

.container{
    background-color: var(--very-dark-blue-main-bg);
    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    background-color: var(--very-dark-blue-card-bg);
    max-width: 300px;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 5px 20px 0px 10px var(--shadow);
}

.images{
    position: relative;
}

.balance_image{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.section_eye{
    position: absolute; 
    top:0; 
    background-color: rgba(0,255,255, 0.4); 
    color: white;
    width: 100%; 
    height: 98.2%; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.section_image:active .section_eye{
    display:flex;
}

.line{
    height: 2px;
    margin: 10px 0;
    background-color:var(--very-dark-blue-line);
}

.title{
    font-size: 1.3rem;
    margin: 15px 0;
}

.title:hover{
    color: var(--cyan);
    cursor: pointer;
}

.paragraph{
    line-height: 1.4rem;
    color: var(--soft-blue);
}

.data{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.data-left{
    display: flex;
    align-items: center;
}

.data-right{
    display: flex;
    align-items: center;
}

.image-left{
    margin-right: 10px;
}

.paragraph-left{
    color: var(--cyan);
}

.paragraph-right, .create{
    color: var(--soft-blue);
}

.create-name:hover{
    color: var(--cyan);
    cursor: pointer;
}

.image-right{
    margin-right: 10px;
}

.author{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.image_author{
    width: 40px;
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
}

footer{
    margin-top: 50px;
}

footer a{
    color: var(--soft-blue);
    text-decoration: none;
}